<h1>Hy</h1>
<div>
  {{title}}
</div>
<app-user-list></app-user-list>
<app-student-list></app-student-list>
<app-login></app-login>
<app-register></app-register>
<!-- 
<button (click)="getName('Ahmad')">click me</button>
<br><br>
<input type="text" #box placeholder="keyup Box" (keyup)="getName(box.value)" />
<br><br>

<input type="text" #box1 placeholder="keydown Box" (keydown)="getName(box1.value)" />
<br><br> -->

<input type="text" #box placeholder="keyup Box" (keydown)="getData(box.value)" />
<br><br>

<p>My Input Value IS : {{displayValue}}</p>
<br><br>

<input type="text" #box1 placeholder="keyup Box" />
<button (click)="getInput(box1.value)">Click Me</button>
<p>My Input Value IS : {{buton}}</p>